# Default hugo results
hugo_src/public/*
!hugo_src/public/dummy.txt
hugo_sources/uk/public/*
hugo_sources/en/public/*
hugo_sources/landing/public/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
