<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,32},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,64},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,96},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,128},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,160},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,192},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,224},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,256},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,288},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{0,320},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,352},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,385},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,418},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,451},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,484},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,517},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,550},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,583},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,616},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,649},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,682},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,715},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton_walk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{0,748},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skeleton_images.png</string>
            <key>size</key>
            <string>{24,781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7ff7043d8d61e472297ab3a38579d91:7fc5e5873ea23292a1f562da6c6d0cdf:26a2d151b8849388df87be6b581d5162$</string>
            <key>textureFileName</key>
            <string>skeleton_images.png</string>
        </dict>
    </dict>
</plist>
