<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>skeleton_idle</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>skeleton_idle_00.png</string>
				<string>skeleton_idle_01.png</string>
				<string>skeleton_idle_02.png</string>
				<string>skeleton_idle_03.png</string>
				<string>skeleton_idle_04.png</string>
				<string>skeleton_idle_05.png</string>
				<string>skeleton_idle_06.png</string>
				<string>skeleton_idle_07.png</string>
				<string>skeleton_idle_08.png</string>
				<string>skeleton_idle_09.png</string>
				<string>skeleton_idle_10.png</string>
			</array>
		</dict>
		<key>skeleton_walk</key>
		<dict>
			<key>delay</key>
			<real>0.2</real>
			<key>frames</key>
			<array>
				<string>skeleton_walk_00.png</string>
				<string>skeleton_walk_01.png</string>
				<string>skeleton_walk_02.png</string>
				<string>skeleton_walk_03.png</string>
				<string>skeleton_walk_04.png</string>
				<string>skeleton_walk_05.png</string>
				<string>skeleton_walk_06.png</string>
				<string>skeleton_walk_07.png</string>
				<string>skeleton_walk_08.png</string>
				<string>skeleton_walk_09.png</string>
				<string>skeleton_walk_10.png</string>
				<string>skeleton_walk_11.png</string>
				<string>skeleton_walk_12.png</string>

			</array>

		</dict>
	</dict>
</dict>
</plist>
