<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>knight_m_idle_anim_f0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_m_idle_anim_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,28},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_m_idle_anim_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,56},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_m_idle_anim_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,84},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_m_run_anim_f0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,112},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_m_run_anim_f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,140},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_m_run_anim_f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,168},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knight_m_run_anim_f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,28}</string>
                <key>spriteSourceSize</key>
                <string>{16,28}</string>
                <key>textureRect</key>
                <string>{{0,196},{16,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight_images.png</string>
            <key>size</key>
            <string>{16,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f7eea9dd94acdd66b6a36b88dd9287:b5e4128c2613ad9485ab46dc2893ff42:a6402c31da305b8d47882cb0f1e81c6f$</string>
            <key>textureFileName</key>
            <string>knight_images.png</string>
        </dict>
    </dict>
</plist>
